{% extends "admin_base.html" %}
{% load static %}
{% block title %} 
management
{% endblock %}
{% block style %} 
<link rel="stylesheet" href="{% static "assets/css/manage_new.css" %}">
{% endblock %}
{% block page_name %} 
Management
{% endblock %}
{% block content %} 
<div class='row' >
  <div class="col-md-5 grid-margin add-stretch-card">
    <table id="customers" border="1">
      <thead>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Number</th>
          <th>Status</th>
          <th colspan="2" id="mid">Action</th>
      </thead>
      {% for x in user %}
      <tr>
          <td>{{x.id}}</td>
          <td>{{x.username}}</td>
          <td>{{x.email}}</td>
          <td>{{x.number}}</td>
          <td>{{x.action | upper}}</td>
          <td> 
            {% if x.action == 'block' %}
            <a href="action{{ x.id }}"><button id="up">allow</button></a>
            {% elif x.action == 'active' %}
            <a href="action{{ x.id }}"><button id="del">block</button></a>
            {% endif %}
          </td>
      </tr>
      {% endfor %}
  </table>
  </div>
</div>

{% endblock %}




